
<button (click)="sendMessage()">Send Message</button>

<div class="row">
  <div class="col-md-12 col-xl-12 analyticsGrp">
    <div class="bg-blackcard custome-card">
      <div class="row">
        <div class="col-md-6 col-xl-6">
          <p class="cust-title">Video Analytics</p>
        </div>
        <div class="col-md-6 col-xl-6">

          <!-- <input type="date" name="selectData" id=""> -->

          <select [(ngModel)]="selectedDevice" (change)="handleChange($event)" name="select"
            class="form-control form-control-default">
            <option value="opt1">Select One Value Only</option>
            <option value="opt2">Type 2</option>
          </select>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-12">
          <div id="line-example" class="line-example">
            <div id="statistics-chart" style="height:350px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xl-12">
    <div class="bg-blackcard custome-card">
      <div class="row">
        <div class="col-md-6 col-xl-6">
          <p class="cust-title">Video Analytics</p>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover text-white-color">
          <thead>
            <tr>
              <th>Content Name</th>
              <th>Plays</th>
              <th>Completion</th>
              <th>Play Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let AnalyticsData of AnalyticsDataA">
              <td>
                {{AnalyticsData.key | textdecode}}
              </td>
              <td *ngFor="let items of AnalyticsData.Events.buckets">
                {{items.total_event_value.value}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
