<div class="row">
  <div class="col-md-12 col-xl-12 analyticsGrp">
    <div class="bg-blackcard custome-card">
      <div class="row">
        <div class="col-md-6 col-xl-6">
          <p class="cust-title">Category Wise Analytics</p>
        </div>
        <div class="col-md-6 col-xl-6">
          <!-- <select name="select" class="form-control form-control-default">
            <option value="opt1">Select One Value Only</option>
            <option value="opt2">Type 2</option>
          </select> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-12">
          <div id="line-example" class="line-example">
            <div id="statistics-chart1" style="height:350px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xl-12">
    <div class="bg-blackcard custome-card">
      <div class="row">
        <div class="col-md-6 col-xl-6">
          <p class="cust-title">Category Wise Analytics</p>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover text-white-color">
          <thead>
            <tr>
              <th>Category Name</th>
              <th>BufferTime</th>
              <th>Play</th>
              <th>Playback Time</th>
              <th>Play complete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let AnalyticsData of categorywiseanalyticsA">
              <td>
                {{AnalyticsData.key}}
              </td>
              <td *ngFor="let items of AnalyticsData.Events.buckets">
                {{items.total_event_value.value}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
